/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #e5f1f7;
    background-color: #e5f1f7;
}

/*HEADER*/

#header {
    padding: 20px;
    box-shadow: 0px 5px 30px -15px #87CEFA;
}

#top-logo {
    width: 100%; /* Makes logo responsive */
}

/*TITULOS*/

.titulos {
    font-size: 70px;
}

.titulos:hover {
    color: #86ade0;
    font-size: 80px;
    transition: 0.2s;
    cursor: pointer;
}
.titulos:not(:hover) {
    color: #86ade0;
    transition: 0.2s;
}

/*RESPONSIVE*/

@media (max-width: 1034px) {
    
    .shape {
        display: none;
    }
    .titulos:hover {
        text-align: center;
        font-size: 60px;
    }
    .titulos:not(:hover) {
        text-align: center;
        font-size: 40px;
    }
    .techIcons {
        margin-bottom: 50px;
    }
}

/*PARAGRAPHS*/

.paragraphs:not(:hover) {
    background-color: #5A86BF;
    padding: 20px;
    transition: 0.2s;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.paragraphs:hover {
    background-color: #5A86BF;
    padding: 20px;
    box-shadow: 10px 10px 0px 0px #8bdeff;
    transition: 0.2s;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
.paragraphs:not(:hover) strong, .paragraphs:hover strong {
    font-style: italic;
    font-size: 23px;
}

/*SHAPES*/
.shape {
    width: 700px;
    height: 700px;
}

/*ABOUT*/

#about {
    margin-top: 100px;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 20px;
}

/*TECHNOLOGIES*/

#technologies {
    margin-top: 100px;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    text-align: left;
    flex-direction: row-reverse; /*right part of the screen*/
    padding: 20px;
}

.techIcons {
    background-color: #5A86BF;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px #86ade0;
    margin-top: 100px;
}

.techIcons .fab.fa-html5 {
    color: #f06529;
}

.techIcons .fab.fa-css3-alt {
    color: #2965f1;
}

.techIcons .fab.fa-js {
    color: #F0DB4F;
}

.fab.fa-html5, .fab.fa-css3-alt, .fab.fa-js {
    padding: 20px;
}

/*FOOTER*/

#footer {
    display: flex;
    background-color: rgb(242, 242, 242);
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: fit-content;
    box-shadow: 0px 10px 11px 8px #a0c3d5;
}

.socialMedia {
    margin-left: 20px;
}

.legalcopyright {
    margin-right: 20px;
}

.socialMedia ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.socialMedia ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

/*SOCIAL MEDIA*/

.fab.fa-instagram:not(:hover) {
    color: #293f5d;;
}

.fab.fa-instagram:hover {
    transform:scale(1.2); 
}

.fab.fa-facebook:not(:hover) {
    color: #293f5d;
}

.fab.fa-facebook:hover {
    transform:scale(1.2); 
}

.far.fa-envelope:not(:hover) {
    color: #293f5d;;
}

.far.fa-envelope:hover {
    transform:scale(1.2); 
}

.socialMedia i {
    color: #436591; /*Default color*/
}

/*COPYRIGHT*/

.legalcopyright {
    padding: 5px;
}

.legalcopyright p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color:#436591;
}
